:root {
  --color-white: #ebe7e6;
  --color-orange: #cd5334;
}
body {
  font-family: "Rubik Mono One", sans-serif;
  font-weight: 500;
}
.swiper {
  width: 600px;
  height: 300px;
}

.bg-image {
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: contain;
  height: 500px;
  width: 500px;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  list-style: none;
  margin: 0;
}

.item-list {
  padding: 1rem;
}
h2 {
  color: white;
  margin: 0;
}
h3 {
  color: white;
}
header {
  position: absolute;
  height: 10vh;
}
.presentation {
  height: 100vh;
  width: 100%;
  background-color: rgba(182, 139, 65, 0.348);
  background-image: url("/img/hd-wallpaper-g8415ff1ae_1920.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.flex {
  display: flex;
}

.justify-flex-end {
  justify-content: flex-end;
  align-items: flex-end;
}

.justify-center {
  justify-content: center;
  align-items: center;
}

.align-center {
  align-items: center;
}
.h-parent {
  height: inherit;
}

.title {
  color: var(--color-white);
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(204, 82, 51, 0.6) 0%,
    rgba(28, 28, 28, 0.8) 35%,
    rgba(255, 255, 255, 0.3) 100%
  );
  margin-bottom: 0;
  font-size: 2.8rem;
  letter-spacing: 1rem;
  padding: 1rem;
  font-family: "Bayon", sans-serif;
}

.subtitle {
  color: var(--color-white);
  font-size: 2.2rem;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(204, 82, 51, 0.6) 0%,
    rgba(28, 28, 28, 0.8) 35%,
    rgba(255, 255, 255, 0.3) 100%
  );
  padding: 1rem;
  font-family: "Bayon", sans-serif;
  letter-spacing: 0.5rem;
}

.btn-primary {
  width: 200px;
  height: 50px;
  border: 2px solid var(--color-white);
  border-radius: 2px;
  cursor: pointer;
  text-decoration: none;
  background: transparent;
  color: white;
}
.button-cv {
  border: 2px solid var(--color-white);
  border-radius: 2px;
  cursor: pointer;
  text-decoration: none;
  background: transparent;
  color: white;
}

.decoration {
  background-color: var(--color-orange);
  width: 100%;
  height: 70px;
  justify-content: center;
  align-items: center;
  display: flex;
}
.proyectos {
  background: rgba(0, 0, 0, 0.188);
  position: relative;
  padding: 2rem;
  background-image: url("./img/keyboard-gbe950bae8_1920.jpg");
  display: flex;
  justify-content: center;
}
.proyectos::before {
  content: " ";
  background-color: rgba(0, 0, 0, 0.723);
  position: absolute;
  height: 100%;
  inset: 0;
  display: grid;
}


.swiper {
  height: 100vh;
  width: 100%; 
  padding: 1rem;
}

.swiper-slide{
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.card-project {
  height: inherit;
  flex-direction: column;
  width: 70%;
  height: 80%;
  display: flex;
  justify-content: center;
  border: none 1px #fff;
  box-shadow: 3px 6px 6px 3px rgba(256, 256, 256, 0.188);
  padding: 1rem;
}


@media (max-width: 768px) {
  .card-project{
    width: 80%;
    height: 60%;
    text-align: center;
  }
}

/* Projects */
.img-project {
  min-height: 70%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

@media (max-width: 768px) {

  .img-project {
    min-height: 40%;
  }
}

.img-1{
  background-image: url("./img/projects/Gestordecitas.png") ;
}
.img-2{
  background-image: url("./img/projects/Criptos.png") ;
  
}
.img-3{
  background-image: url("./img/projects/QuizApp.png") ;
}

.bottom-card {
  width: 100%;
  align-items: center;
  justify-content: space-between;
  display: flex;
  margin-top: 1rem;
}
@media (max-width: 768px) {
  .bottom-card {
    display: flex;
    flex-direction: column;
  }
}

.skills {
  display: flex;
  color: #ebe7e6;
}
.skills li {
  padding: 1rem;
  
}
@media (max-width: 768px) {

  .skills {
    padding: 0;
    
  }
}

footer{
  height: 20vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer ul{
  display: flex;
}

footer ul li{
  padding: 1rem;
}

footer ul li a{
  color: #cd5334;
}